.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

.logo {
  justify-self: start;
  grid-column: span 2;

  height: 54px;
  width: auto;
}

.nav {
  grid-column: span 6;
}

@media screen and (max-width: 939px) {
  .headerContainer {
    width: 100%;
    max-width: 80%;
    flex-direction: row;
  }

  .logo {
    width: 160px;
    height: auto;
  }
}

@media screen and (max-width: 499px) {
  .logo {
    width: 125px;
    height: auto;
  }
}
