.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  justify-self: start;
  grid-column: span 2;

  height: 54px;
  width: auto;
}

.nav {
  grid-column: span 6;
}
