.header-container {
  display: grid;

  grid-template-rows: auto;
  grid-template-areas: 
    ".      img  nav  nav  nav     .";
  
  align-items: center;

  padding: 20px 120px 20px 120px;
}

.logo {
  justify-self: start;
  grid-column: span 2;

  height: 54px;
  width: auto;
}

.nav {
  grid-column: span 6;
}
