main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*** Banner Section ***/

.bio {
  display: flex;
  justify-items: center;
  background-color: var(--primary1-color);
}

.bioContainer {
  display: flex;
  width: 100%;
  max-width: 920px;
  min-height: 390px;

  margin: 0 auto;
}

.bio .bannerText {
  display: grid;
  width: 100%;
}

.bannerTitle {
  font-size: 64px;
  font-family: var(--font-markazi);
  font-weight: 500;
  color: var(--primary2-color);
  margin: 32px 0 0 0 !important;
}

.subtitle {
  font-size: 40px;
  font-family: var(--font-markazi);
  font-weight: 500;
  color: var(--secondary3-color);
  margin: 0 0 24px 0;
}

.leadText{
  font-size: 18px;
  font-family: var(--font-karla);
  color: var(--secondary3-color);
  max-width: 50%;
  margin: 0;
}

.asideImage {
  display: flex;
  justify-content: flex-end;
}

.asideImage img {
  height: auto;
  border-radius: 16px;

  position: relative;
  bottom: -100px;
}


/* About Section */

.aboutSection {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;

  width: 100%;
  max-width: 920px;
  padding: 80px 0;
}

.aboutText {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.aboutTitle {
  font-size: 64px;
  font-family: var(--font-markazi);
  font-weight: 500;
  color: var(--primary1-color);
  margin: 0;
}

.aboutSubtitle {
  font-size: 40px;
  font-family: var(--font-markazi);
  font-weight: 500;
  color: var(--primary2-color);
  margin: 0 0 16px 0;
}

.aboutParagraph {
  font-size: 18px;
  font-family: var(--font-karla);
  font-weight: 600;
  color: var(--primary1-color);
  width: 100%;
  max-width: 60%;
  margin: 16px 0 0 0;
}

.aboutImages {
  margin-right: 50px;
}

.aboutImages > img {
  display: flex;
  height: auto;
  width: auto;
  max-width: 300px;

  border-radius: 16px;
}

.under {
  z-index: 1;
}

.over {
  z-index: 2;
  position: relative;
  top: 50px;
  left: 50px;
}


@media screen and (max-width: 939px) {
  .bioContainer {
    max-width: 80%;
    min-height: 430px;
  }

  .aboutSection {
    max-width: 80%;
    padding: 56px 0;
  }

  .bannerTitle {
    font-size: 48px;
    margin: 24px 0 0 0 !important;
  }

  .subtitle {
    font-size: 32px;
    line-height: 50%;
    margin: 0 0 12px 0;
  }

  .asideImage img {
    max-width: 100%;
    max-height: 90%;
  }

  .aboutImages > img {
    max-width: 250px;
  }

  .aboutTitle {
    font-size: 48px;
  }

  .aboutSubtitle {
    font-size: 32px;
  }

  .aboutParagraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  .aboutSection {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .aboutText, .aboutParagraph {
    max-width: 100%;
  }

  .aboutImages {
    max-width: 50%;
    justify-content: center;
  }
}
