main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*** Banner Section ***/

.bio {
  display: flex;
  justify-items: center;
  background-color: var(--primary1-color);
}

.bioContainer {
  display: flex;
  width: 100%;
  max-width: 900px;

  margin: 0 auto;
}

.bio .bannerText {
  display: grid;
  width: 100%;
}

.bannerTitle {
  font-size: 64px;
  font-family: var(--font-markazi);
  font-weight: 500;
  color: var(--primary2-color);
  margin: 32px 0 0 0 !important;
}

.subtitle {
  font-size: 40px;
  font-family: var(--font-markazi);
  font-weight: 500;
  color: var(--secondary3-color);
  margin: 0 0 24px 0;
}

.leadText{
  font-size: 18px;
  font-family: var(--font-karla);
  color: var(--secondary3-color);
  max-width: 50%;
  margin: 0;
}

.asideImage {
  display: flex;
  justify-content: flex-end;
}

.asideImage img {
  height: auto;
  width: 100%;
  max-width: 80%;
  border-radius: 16px;

  position: relative;
  bottom: -100px;
}


/*** Week Specials Section ***/

.weekSpecialsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 170px 0 50px 0;
  width: 100%;
  max-width: 922px;
}

.menuTitle {
  font-size: 40px;
  font-family: var(--font-markazi);
  font-weight: 500;
  color: var(--secondary4-color);
  margin: 0;
}

.menuCards {
  display: flex;
  justify-content: space-between;

  max-width: 922px;
}

.menuCards {
  margin-right: 0 10px;
}


/*** Testimonials Section ***/

article {
  display: flex;
  flex-direction: column;
  background-color: rgba(251, 218, 187, .5);
  height: 470px;

  margin-top: 80px;
  padding: 80px 120px 0 120px;
}

article h2 {
  align-self: center;
  font-family:  var(--font-markazi);
  font-size: 40px;
  font-weight: 500;
  color: var(--secondary4-color);
  margin: 0;
}

.custCardGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  max-width: 900px;
  margin: 48px auto 0 auto;
}

/* About Section */

.aboutSection {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;

  width: 100%;
  max-width: 900px;
  padding: 80px 0;
}

.aboutText {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.aboutTitle {
  font-size: 64px;
  font-family: var(--font-markazi);
  font-weight: 500;
  color: var(--primary1-color);
  margin: 0;
}

.aboutSubtitle {
  font-size: 40px;
  font-family: var(--font-markazi);
  font-weight: 500;
  color: var(--primary2-color);
  margin: 0 0 16px 0;
}

.aboutParagraph {
  font-size: 18px;
  font-family: var(--font-karla);
  font-weight: 600;
  color: var(--primary1-color);
  width: 100%;
  max-width: 60%;
  margin: 16px 0 0 0;
}

.aboutImages {
  margin-right: 50px;
}

.aboutImages > img {
  display: flex;
  height: auto;
  width: auto;
  max-width: 300px;

  border-radius: 16px;
}

.under {
  z-index: 1;
}

.over {
  z-index: 2;
  position: relative;
  top: 50px;
  left: 50px;
}
