.customerCard {
  min-height: 226px;
  height: 100%;
  min-width: 164px;
  max-width: 204px;
  background-color: #FFF;

  border-radius: 16px;
  padding: 12px;
}


.rating > * {
  margin-right: 10px;
  margin-bottom: 16px;
}

.userProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  font-size: 14px;
  font-family: 'Karla', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: var(--secondary4-color);
  margin: 0 0 6px 0;
}

.username {
  font-size: 12px;
  font-family: 'Karla', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--secondary4-color);
  margin: 0;
}

.testimonial {
  font-size: 16px;
  font-family: 'Karla', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary1-color);
  margin: 20px 0 0 0;
}
