nav ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  list-style: none;
  padding: 0;
  gap: 25px;
}

nav .navItem {
  font-size: 18px;
  font-family: var(--font-karla);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary4-color);

  &:hover {
    color: var(--secondary1-color);
  }
}


.hamburgerIcon {
  display: none;
}

@media (max-width: 939px) {
  .navLinks {
    display: none;
  }

  .hamburgerIcon {
    display: block;
    width: 49px;
    height: 30px;
  }
}

@media screen and (max-width: 499px) {
  .hamburgerIcon {
    width: 35px;
    height: 25px;
  }
}
