nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  padding: 0;
}

/* nav li { */
  /* display: inline-block; */
  /* grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
  /* grid-gap: 20px; */
/* } */

nav a {
  font-size: 18px;
  font-family: var(--font-karla);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary4-color);

  &:hover {
    color: var(--secondary1-color);
  }
}
