footer {
  display: flex;
  justify-content: center;
  background-color: var(--primary1-color);
  color: var(--secondary3-color);

  width: 100%;
  padding: 40px 0;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 920px;
}

.footerContainer > img {
  height: 180px;
  width: 102px;

  align-self: center;
}

.social img {
  width: 24px;
  height: 24px;
  margin: 12px 12px 0 0;

  cursor: pointer;
  
  &:hover {
    color: var(--primary2-color);
  }
}

section h4 {
  font-family: var(--font-karla);
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0 0 4px;
}

section p {
  font-family: var(--font-karla);
  font-size: 16px;
  font-weight: 500;
  margin: 12px 0 0;
}

.sitemap p, .contactUs p:nth-child(2n+3), .social img {
  cursor: pointer;
  
  &:hover {
    color: var(--primary2-color);
  }
}

@media screen and (max-width: 939px) {
  .footerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
  }
}
